<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="abs">Balamurugan</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
<section>
    <h1>Welcome to My Portfolio</h1>
    <p>Balamurugan P<br>Front-End Developer.</p>
    
    <h2>Skills</h2>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>Bootstrap</li>
    <li>React</li>
    <li>Figma</li>
    <li>Ms-Excel,Word</li>
</ul>
</section>

    <div class="content">
        <h2>Experience:</h2>
        <ol>
            <li><h5>Why Global Services - Full Stack Developer Intern<br>June 2024 - December 2024</h5></li>
           
                <ul>
                    <li>Completed a 6-month internship in full stack development, gaining practical experience in front-end and back-end technologies.</li>
                    <li>Developed several front-end projects, showcasing skills in responsive design and user interfaces.</li>
                    <li>Worked with the team to follow coding best practices and improve project quality.</li>
                </ul>
            <li><h5>Tech Mahindra – Associate Customer Support<br>December 2020 - 2023</h5></li>
                <ul>
                    <li>Managed back-end activities and handled revenue tasks, including waiver processing.</li>
                    <li>Conducted audits, generated reports, reconciled data, and identified errors.</li>
                    <li>Worked with supervisors to fix issues and prepared team productivity reports.</li>
                </ul>
            
            <li><h5>Flex – PCB Board Analyzer (Contract-Based)<br>July 2017 - 2019</h5></li>
            <ul>
                <li>Inspected mobile PCBs to ensure quality standards and isolated defective units for analysis.</li>
                <li>Worked with senior engineers to troubleshoot and resolve production issues.</li>
                <li>Documented findings and reported to the quality control team to improve quality processes.</li>
            </ul>
            
        </ol>
        
    </div>

    <footer>
        <p>&copy; 2024 Balamurugan P</p>
    </footer>
</body>
</html>
