<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="abs">Balamurugan</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

<section>
    <h1>Projects</h1>
    <ol>
        <li><strong>Digital Clock</strong> - A simple digital clock built using JavaScript.</li>
        <li><strong>Tip Calculator</strong> - An application to calculate tips based on the total amount.</li>
        <li><strong>Portfolio</strong> - This portfolio website.</li>
        <li><strong>E-commerce Website</strong> - E-commerce platform.</li>
    </ol>
</section>
<footer>
    <p>&copy; 2024 Balamurugan P</p>
</footer>

</body>
</html>